
.noti {
    position: relative;
    margin: 5rem;
    font-size: 10rem;
    color: rgb(89, 144, 192);
    /* background-color: pink; */

}
.mes-number {
    font-size: 3rem;
    padding: 0.5rem;
    background-color: red;
    color: white;
    border-radius: 20px;
    position: absolute;
    right: 380px;
    top: -1px;
}